body {
  background-color: hsl(30, 38%, 92%);
  display: flex;
  flex-direction: column;

  margin: 0;
  text-align: center;
}
main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
}

.img-card {
  background-image: url(./images/image-product-desktop.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 500px;
  width: 250px;
}
.detail-card {
  background-color: hsl(0, 0%, 100%);
  height: 500px;
  width: 250px;
  justify-content: space-between;
}
.detail-card h2 {
  text-align: left;
  margin-left: 10px;
  font-family: "Fraunces", serif;
  font-size: larger;
  color: hsl(228, 12%, 48%);
}
.detail-card h1 {
  margin: 10px 70px 10px 20px;
  font-family: "Fraunces", serif;
  /* font-family: "Montserrat", sans-serif; */
  font-size: xx-large;
  text-align: left;
}

.detail-card p {
  color: hsl(228, 12%, 48%);
  margin-left: 20px;
  margin-right: 30px;
  font-size: 14px;
  line-height: 1.8;
  word-spacing: 2px;
  text-align: left;
}
.money {
  display: flex;
  flex-direction: row;
}

.bm {
  font-size: xx-large;
  color: hsl(158, 36%, 37%);
}
.bs {
  position: absolute;
  margin-left: 160px;
  margin-bottom: 10px;
  color: hsl(228, 12%, 48%);
  text-decoration: line-through;
}
.bt {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 40px;
  border-radius: 10px;
  background-color: hsl(158, 36%, 37%);
  color: aliceblue;
  font-weight: bolder;
}
.btn:hover {
  cursor: pointer;
  background-color: hsl(138, 36%, 37%);
}
img {
  padding-right: 10px;
}

@media screen and (max-width: 768px) {
  body {
    display: flex;
    flex-direction: column;
  }
  main {
    display: flex;
    flex-direction: column;
  }
  .img-card {
    background-image: url(./images/image-product-mobile.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px;
    width: 100%;
  }
  .detail-card {
    background-color: hsl(0, 0%, 100%);
    height: 500px;
    width: 100%;
    justify-content: space-between;
  }
  .detail-card p {
    color: hsl(228, 12%, 48%);
    margin-left: 20px;
    margin-right: 10px;
    font-size: 16px;
    line-height: 1.5;
    word-spacing: 15px;
    letter-spacing: 5px;
    text-align: left;
  }
  .bm {
    font-size: 800px;
    font-weight: bolder;
    color: hsl(158, 36%, 37%);
  }
  .bs {
    position: absolute;
    margin-left: 170px;
    margin-bottom: 20px;
    color: hsl(228, 12%, 48%);
    text-decoration: line-through;
  }
  .bt {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 450px;
    height: 60px;
    border-radius: 10px;
    background-color: hsl(158, 36%, 37%);
    color: aliceblue;
    font-weight: bolder;
    border: 0;
  }
  .detail-card h2 {
    text-align: left;
    margin-left: 10px;
    font-family: "Fraunces", serif;
    font-size: larger;
    color: hsl(228, 12%, 48%);
    letter-spacing: 10px;
  }
}
